<header>
  <div frame>
    <nav>
      <a href="{{ site.baseurl }}" style="text-transform: lowercase;">{{ site.title }}</a>
      <!---->
      {% for link in site.data.navigation %}
        {% if link.url contains 'http' %}
          {% assign domain = '' %}
          {% else %}
          {% assign domain = site.url %}
        {% endif %}
        <a href="{{ domain }}{{ link.url }}" {% if link.url contains 'http' %}target="_blank"{% endif %}>{{ link.title }}</a>
        <p> / </p>
    {% endfor %}
    </nav>
  </div>
</header>
